grid_file_input_grid="#GRID-INIT-FILE#"
hist_file_input_grid="#HIST-MPAS-OUTPUT-FILE#"
diag_file_input_grid="#DIAG-MPAS-OUTPUT-FILE#"
block_decomp_file="#GRAPH-INFO-PART-FILE#"
output_file="#MPASSIT-OUTPUT-FILE#"
interp_diag=.true.
interp_hist=.false.
wrf_mod_vars=.false.
esmf_log=.true.
nx = #NX-PTS#
ny = #NY-PTS#
dx = #DX-M#
dy = #NX-M#
ref_lat = 38.50
ref_lon = -97.50
truelat1 = 38.5
truelat2 = 38.5
stand_lon = -97.5
target_grid_type = 'Lambert'
is_regional = .false.
